.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    min-height: 27rem;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.chat-message .border-right{
    overflow-y: scroll!important;
    height: 72vh!important;
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}

.chat-message .btn-primary{
	background-color: #fe9435 !important;
    border-color: #fe9435 !important;
}

.chat-message .btn-lg{
	font-size: 1.25rem !important;
    line-height: 18px!important;
    border-radius: 50px!important;
    height: 50px!important;
    width: 50px!important;
}