.studentclass-area {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.student-class {
    padding: 5rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: none;
    background: #ffffff;
    border: 2px solid #fbc18e;
    box-sizing: border-box;
    box-shadow: 0px 10px 11px rgb(0 0 0 / 5%);
    cursor: pointer;
}
.assignment-name-list{
    display: flex;
    flex-wrap: wrap;
}
.assignment-name-list li{
    background-color: #ddebcd;
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px 0px 5px 10px;
}
.student-class-detail .today-class{
    background-color: #8bc34a;
    color: #fff;
    padding: 4px;
    border-radius: 10px;
    font-size: 10px;
    text-transform: capitalize;
    font-weight: bolder;
}
.student-class-detail .all-class{
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-top: 35px;
    border-radius: 50px;
    line-height: 25px;
    text-align: center;
    color: #4e4e4e;
    background-color: #d6e3c6;
}
.new-old-tab-card{
    display: flex;
    flex-direction: column;
}
.student-notes{
    display: flex;
    flex-wrap: wrap;
}

.upload-card-body{
    /* display: flex; */
}

@media (max-width: 768px) {
    .student-notes{
        display: flex;
        flex-direction: column;
    }
    .upload-card-body{
        flex-direction: column;
    }
}



/* balram css */



.zoom-link{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border: 1px solid #4e4e4e59;
    border-radius: 5px;
  }
  
  
  /* balram jee css */
  
  
  
  .proactive-card{
  
    background: #FFFFFF;
    border-radius: 10px;
    padding:20px;
    
    }
  
  .session-card{
      background-color: #fff;
      border: 2px solid #FEA657;
      box-sizing: border-box;
      box-shadow: 0px 10px 11px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
  }
  .student-img{
    height: 250px;
    width: auto;
    object-fit: cover;
  }
  .student-profile-img{
    border-radius: 5px;
  }
  .st-img{
      height: 34px;
      width: 34px;
      border: 1px solid #EEEEEE;
      box-sizing: border-box;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .st-img img{
    height: 34px;
      width: 34px;
      border-radius: 50px;
      border: 1px solid #EEEEEE;
      box-sizing: border-box;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    object-fit: cover;
  }
  .st-img:not(:first-child){
      margin-left: -15px;
  }
  .student-imgs{
      display: flex;
      justify-content: center;
  }
  .session-card{
      text-align: center;
  }
  .student-content p:not(:last-child) , .time-zone p:not(:last-child){
      margin-bottom: 0px !important;
  }
  button.button.btn-meet-with {
    background: #74AB62;
      border-radius: 20px;
      padding: 8px;
      width: 65%;
      color: #fff;
  }
  .session-wrapper .nav-pills .nav-link, .nav-pills .show>.nav-link {
    color: rgb(51, 50, 49) !important;
  }
  .session-wrapper .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--primary-1) !important;
    font-weight: 700;
    background-color: #fff !important;
  }
  .session-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .session-header h5:first-child span{
      font-size: 16px;
  }
  .btn-session{
      background-color: #FE9435;
      color: #fff;
      padding: 10px 15px;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 600;
  }
  .std-list{
    background-color: #E3EEDF;
    display: inline-block;
    border-radius: 50px;
    padding: 0px 10px 0px 0px;
  }
  .sub-title{
    font-size: 16px;
  }
  .sub-title i{
    color: #EB5D5D;
  }
  .s-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    padding: 10px;
    border-radius:5px;
  }
  .session-action{
    font-size: 14px;
    color: #578F44;
  }
  .assignment-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sub-title .fa-plus-circle{
    color: #FE9434;
  }
  .table thead th {
   border: none !important;
  }
  
  .student-img{
      object-fit: cover;
      height: 300px;
      width: 100%;
  }
  .student-img img{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
      width: 100%;
      object-fit: cover;
  }
  
  
  .session-card{
      background-color: #fff;
      border: 2px solid #FEA657;
      box-sizing: border-box;
      box-shadow: 0px 10px 11px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
  }
  .nav-item a{
      padding-left: 0px !important;
  }
  .student-img{
    object-fit: cover;
    height: 300px;
    width: 100%;
  }
  .student-img img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
  .student-profile-img{
    border-radius: 5px;
  }
  .st-img{
      height: 34px;
      width: 34px;
      border: 1px solid #EEEEEE;
      box-sizing: border-box;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
      border-radius: 50%;
     overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .st-img img{
    height: 34px;
      width: 34px;
      border-radius: 50px;
      border: 1px solid #EEEEEE;
      box-sizing: border-box;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
      object-fit: cover;
  }
  .std-list img{
    height: 25px;
    width: 25px;
    border-radius: 50px;
    -o-object-fit: cover;
    object-fit: cover;
    background-color: #fff;
  }
  .std-list:not(:first-child){
    margin-left: 10px;
    margin-top: 10px;
  }
  .std-list span{
      font-size: 14px;
  }
  .st-img:not(:first-child){
      margin-left: -15px;
  }
  .student-imgs{
      display: flex;
      justify-content: center;
  }
  .session-card{
      text-align: center;
  }
  .student-content p:not(:last-child) , .time-zone p:not(:last-child){
      margin-bottom: 0px !important;
  }
  button.button.btn-meet-with {
    background: #74AB62;
    border-radius: 20px;
  }
  .session-wrapper .nav-pills .nav-link, .nav-pills .show>.nav-link {
    color: rgb(51, 50, 49) !important;
  }
  .session-wrapper .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--primary-1) !important;
    font-weight: 700;
    background-color: #fff !important;
  }
  .session-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .session-header h5:first-child span{
      font-size: 16px;
  }
  .btn-session{
      background-color: #FE9435;
      color: #fff;
      padding: 10px 15px;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 600;
  }
  .std-list{
    background-color: #E3EEDF;
    display: inline-block;
    border-radius: 50px;
    padding: 0px 10px 0px 0px;
  }
  .sub-title{
    font-size: 16px;
  }
  .sub-title i{
    color: #EB5D5D;
  }
  .s-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    padding: 10px;
    border-radius:5px;
  }
  .session-action{
    font-size: 14px;
    color: #578F44;
  }
  .assignment-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sub-title .fa-plus-circle{
    color: #FE9434;
  }
  .assignment-header h5:nth-child(2){
    cursor: pointer;
  }
  .table thead th {
   border: none !important;
  }
  .assignment-docs{
    font-size: 12px;
  }
  .notes-action{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .notes-action span{
    font-size: 12px;
  }
  .std-list-session{
    text-align: justify;
  }
  .notes-action a:nth-child(1) {
    color: #EB5757;
  }
  .notes-action a:nth-child(2) {
    color: #2F80ED;
  }
  .note-details p{
    background-color: #DDE7D9;
    padding: 10px;
    border-radius: 5px;
  }
  .note-by{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .note-by p{
    font-size: 12px;
    color: #4E4E4E;
    margin-left: 5px;
  }
  .modal-footer{
    border-top: unset !important;
  }
  
  .session-wrapper .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff !important;
    font-weight: 700;
    background-color: #fe9435 !important;
    padding: 10px!important;
  }
  .nav-pills .nav-item {
    cursor: pointer;
    margin-right: 5px!important;
  }

  .student-img{
    height: 100px;
    width: 100px;
    border-radius:100%;
    object-fit: cover;
    margin: 0 auto;	
  }
  
  .student-notes{
    display: flex;
  }
  
  .student-img img{
    height: 100px;
    width: 100px;
    border-radius:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;	
  }

