.tableIndex__page--data{
    font-size: 14px!important;
    font-weight: 500!important;
}
.action-seprator{
    color: #c4c4c4!important;
}

.table-null{
    text-align: left;
    font-size: 18px;
    color: #c4c4c4;
    margin-top: 20px;
}

.detail-page .table-null{
    text-align: left!important;
}