.parentIndex__page .save-btn,.studentIndex__page .save-btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
}

.teacherIndex__page .save-btn{
    display: flex;
    justify-content: flex-end;
}
.parentIndex__page .save-btn .btn-success,.addStudent__page .studentIndex__page .save-btn .btn-success,.teacherIndex__page .save-btn .btn-success{
    width: 21%!important;
    color: #fff!important;
    background-color: rgb(107 190 11)!important;
    font-size: 16px;
    font-weight: 400;
    margin-right: 3.8%;
}
.editStudent__page .studentIndex__page .save-btn .btn-success{
    width: 21%!important;
    color: #fff!important;
    background-color: rgb(107 190 11)!important;
    font-size: 16px;
    font-weight: 400;
    margin-right: 2.8%;
}
.studentDetail__page .student__form--image{
    /* display: flex; */
    height: 116px;
}
.teacher__form--details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.student__form--details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 13rem;
}
.icon-margin{
    margin-right: 25px;
}
.teacherForm__page .btn-cstm,.studentDetail__page .btn-cstm{
    background-color: #dcd5d5!important;
    width: 43px!important;
    height: 43px!important;
    border-radius: 25px!important;
    padding: .9rem 0.5rem!important;
    font-size: 0.875rem!important;
    line-height: 0!important;
    margin-bottom: 25px;
}

.teacher__form--details div,.student__form--details div{
    margin-bottom: 10px;
    color: #4e4e4e;
    border-bottom: 2px solid #c4c4c4;
    margin-bottom: 12%;
}
.studentDetail__page .rounded-rectangle{
    /* border-radius: 15%!important; */
    max-width: inherit;
    border: 1px solid #F39D35!important;
    height: 13.5rem!important;
    width: 13.5rem!important;
}
.studentDetail__page .custom-file-upload{
    transform: translateX(-80%);
}

.teacherForm__page .teacher__form--image{
    /* display: flex; */
    height: 116px;
}
.teacherForm__page .rounded-rectangle{
    /* border-radius: 15%!important; */
    max-width: inherit;
    border: 1px solid #F39D35!important;
    height: 13.5rem!important;
    width: 13.5rem!important;
}
.teacherForm__page .custom-file-upload{
    transform: translateX(-80%);
}

.teacher__form--teacherSection{
    display: flex;
    height: 14rem;
}

.address-info-row{
    margin-left: -3%!important;
    margin-right: 3%!important;
}

.parent-info-row {
    margin-left: 0%!important;
    margin-right: 0%!important;
    margin-top: 3%!important;
}
.teacher__form--setting{
    display: flex;
}
.teacherForm__page .basil--text .v-tab--active,.studentDetail__page .basil--text .v-tab--active{
    background-color: #8bc34a!important;
    color: #fff!important;
    font-size: 18px!important;
    font-weight: 700!important;
}
.student__form--parentSection div{
    margin-bottom: 3%;
    color: #4e4e4e;
    width: 38%!important;
    border-bottom: 2px solid #c4c4c4;
}

.student__form--parent{
    font-size: 20px;
    font-weight: 700;
    color: #4e4e4e;
}

.teacherForm__page .form-page-tile , .studentDetail__page .form-page-tile{
    font-size: 25px;
    font-weight: 600;
    color: #4e4e4e;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.teacher__setting--image .rounded-circle{
    max-width: fit-content;
    border: 1px solid #F39D35!important;
    height: 12.5rem!important;
    width: 12.5rem!important;
}
.teacherForm__page .teacher__form--setting .teacher__form--details .form-control {
    border: 0;
}
.teacherForm__page .teacher__form--setting .teacher__form--details .form-control:focus  {
    box-shadow:unset!important;
}
.teacherForm__page .teacher__form--setting .submit__btn{
    background-color: #8bc34a!important;
    color: #fff!important;
    font-size: 17px!important;
    font-weight: 700!important;
    width: 43%;
}
.apply-margin-top{
    margin-top: 12%;
}
.remove-margin-top{
    margin-top: unset;
}

.apply-margin-bottom{
    margin-bottom: 10%!important;
}
.remove-margin-bottom{
    margin-bottom: unset!important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #8bc34a!important;
  }

  .custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #fff
  }


  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #fff;
    background-color: #fff;
  }

.teacherForm__page .associated-student{
    display: flex;
    justify-content: space-between;
}
.teacherForm__page .associated-student .search{
    width: 20%;
}

